<h2>Invalidate Bookings</h2>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Room</th>
      <th>Is confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <% if booking.is_confirmed == false %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.user_id %></td>
        <td><%= booking.room_id %></td>
        <td><%= form_for(booking) do |f| %>
         <%= f.check_box :is_confirmed %>
         <%= f.submit "validate room" %>
        <% end %>
        </td>
        <td><%= link_to 'Show', booking %></td>
        <% if can? :update, booking %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <% end %>
        <% if can? :destroy, booking %>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



